@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
.moviecard{
	position: relative;
	transition: top 1s ease;
	top: 0;
}

.moviecard:hover {
	top: -10px;
	transition: top 0.5s ease;
	cursor: pointer;
}

.card {
	position: relative;
}

.imdb-rating {
	position: absolute;
	right: 15px;
	bottom: 10px;
	background-color: #0e1014;
	color: #f2f4fa;
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.favourite{
	position: absolute;
	right: 3px;
	top: 1px;
	background-color: #0e101472;
	color: #f2f4fa;
	height: 40px;
	width: 40px;
	border-radius: 50%;
}

.star {
	font-weight: bold;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.rating {
	font-weight: bold;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.readmore-button {
	border: none;
	background-color: transparent;
	color: #7f66de;
	font-weight: bold;
}

.movie-overview{
	font-family: 'Oxygen', sans-serif;
}