@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.dashboard {
	background-color: #2d0112;
	padding-bottom: 25px;
	margin-top: 50px;
}

.dashboard-trending{
	color: #f1f1f1;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}

.pagination-button{
	background-color: transparent;
	border: 1px solid #c59108;
	font-weight: bold;
	color: #c59108;
	padding: 10px;
	border-radius: 20px;
}

.pagination-button:hover{
	color: #A5BECC;
	border: 1px solid #A5BECC;
}

.trending-gif{
	width: 40px;
}