@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.dashboard {
	/* background-color: #2c2c2e; */
	background-image: url(https://images.unsplash.com/photo-1585647347483-22b66260dfff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
	background-position:top;
	background-size: contain;
	min-height: 94;
	padding-bottom: 25px;
}

.dashboard-trending{
	color: #f1f1f1;
	font-family: 'Inter', sans-serif;
	font-weight: bold;
	margin-top: 100px !important;
	padding: 25px;
}

.pagination-button{
	background-color: transparent;
	border: 1px solid #c59108;
	font-weight: bold;
	color: #c59108;
	padding: 10px;
	border-radius: 20px;
}

.pagination-button:hover{
	color: #A5BECC;
	border: 1px solid #A5BECC;
}

.trending-gif{
	width: 40px;
}

.spinner-container{
	min-height: 96vh;
	display: flex;
	justify-content: center;
	background-color: #0e1014;
}

.my-spinner{
	margin-top: 100px;
}