@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.login-form-container{
	min-height: 96vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2d0112;
	/* background-color: #fffafa; */
}

.login-form{
	min-height: 30vh;
	min-width: 20vw;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	padding: 10px;
	font-family: 'Poppins', sans-serif;
	background-color: #17000c;
}

.login-form label{
	color: #f1f1f1;
}

.form-title{
	font-family: 'Oswald', sans-serif;
	color: #c59108;
}

.form-secondary-title{
	color: #f1f1f1;
}

.sign-up-msg{
	color: #f1f1f1;
}

.sign-up-msg-link{
	text-decoration: none;
}

.sign-up-msg-btn{
	color: #c59108;
}
.sign-up-msg-btn:hover{
	color: #A5BECC;
}

.login-hero{
	min-height: 55vh;
	min-width: 40vw;
	background-image: url(https://images.unsplash.com/photo-1499426666029-5c0678a1d89a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=776&q=80);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 3px;
	/* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.button-container{
	margin-top: 15px;
	display: flex;
	justify-content: center;
}