@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.snacklist {
	min-height: 95vh;
	background-color: #0e1014;
	font-family: 'Inter', sans-serif;
}

.snacklist-container {
	display: flex;
}

.snacklist-title {
	font-family: 'Inter', sans-serif;
	font-weight: bolder;
	color: #f2f4fa;
	margin-top: 100px;
}

.snacklist-sub-title {
	color: #f2f4fa;
}

.snacklist-text {
	font-weight: 600;
	color: #f2f4fa;
}

.snack-list {
	width: 50%;
	height: 45vh;
	overflow-y : scroll;
}

.modal-btn {
	background-image: linear-gradient(to right top, #5482e9, #577ee6, #5b7be4, #5e77e1, #6173de, #616edc, #616ad9, #6165d7, #5e5ed5, #5c56d2, #5a4fcf, #5847cc);
	border: none;
	padding: 10px 30px;
}