@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

.movienest-navbar {
	font-family: 'Inter', sans-serif;
}

.navbar-brand {
	color: #f2f4fa;
	font-weight: bold;
	padding: 15px 20px;
	font-family: 'Inter', sans-serif;
	transition: 0.3s all ease-in;
}

.navbar-brand:hover {
	background-color: #fbd100c0;
	color: #f2f4fa;

}

.nav-item {
	padding: 10px;
}

.nav-link {
	color: #f2f4fa !important;
	font-weight: bold;
	border: 2px solid transparent;
	padding: 10px;
}

.nav-link-btn {
	border: none;
	background-color: transparent;
	color: #2C3333 !important;
}

.nav-link-btn a {
	text-decoration: none
}

.dropdown-link {
	color: #f1f1f1 !important;
}

.logout-item:hover {
	background-color: #686c6c39;
}

.profile-picture {
	width: 35px;
}

.account-wrapper {
	padding: 5px;
	color: #f1f1f1;
	font-weight: bold;
}

.movienest-navbar a.active {
	/* background-color: #ff0040; */
	border: 2px solid #fbd300;
	border-radius: 5px;

}


.movienest-container .nav-link.active {
	border-radius: 5px;
}

.movienest-container .nav-link:hover {
	transition: 0.3s all ease;
	border: 2px solid #fbd100c0 !important;
	border-radius: 3px;
}